* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    display: flex;
}

.menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(61, 56, 201);
    width: 150px;
    height: 1000px;
    text-align: center;
 }

a {
    color: white;
    line-height: 60px;
}

.main {
    left: 135px;
    right: 10px;
    align-items: center;
}

.header {
    width: 100%;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.content{
    text-align: justify;
}

#footer {
    width: 30px;
    height: 30px;
    align-items: space-between;
}

.footer {
    text-align: center;
}

h1 {
    text-align: center;
}

.table {
    align-items: center;
    text-align: center;
    align-content: center;
}